.container {
  max-width: 1120px;
  //margin: auto;
  width: 70%;
  height: 100%;

  .title {
    margin: auto;
    font-size: 1.9rem;
    color: #586e26d5;
    font-weight: 700;
    width: 100%;
    padding: 2px;
    text-align: center;
    font-family: "Play", sans-serif;

    font-family: "Playfair Display", serif;
  }
}
.list {
  width: 100%;

  display: flex;
  justify-content: center;
  margin: auto;
}
.containerBox {
  padding-top: 5px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.boxContent {
  width: 190px;
  height: 220px;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.266);
  background-color: white;
  .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    img {
      border-radius: 1px;
      width: 180px;
      height: 110px;
    }
    h1 {
      font-size: 1rem;
      font-weight: 600;
      margin-left: 5px;
      color: #484d50e6;
      height: 75px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
      direction: ltr;
    }
  }
  .box2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    span {
      font-size: 0.7rem;

      text-align: center;

      font-weight: 100;
    }
    .span1 {
      margin-left: 5px;
      //color: #767676;
      color: #b0b0b0;
      font-size: 0.6rem;
    }
    button {
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      .span2 {
        margin-right: 5px;
        color: white;
        background-color: #c71515e7;
        padding: 2px;
        border-radius: 1px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .container {
    width: 90%;
  }
  .boxContent {
    width: 240px;
    height: 268px;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.266);
    background-color: white;
    .box1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      img {
        border-radius: 1px;
        width: 230px;
        height: 160px;
      }
      h1 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 5px;
        color: #484d50e6;
        height: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        direction: ltr;
      }
    }
  }
}

@media screen and (max-width: 574px) {
  .boxContent {
    width: 290px;
    height: 298px;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.266);
    background-color: white;
    .box1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      img {
        border-radius: 1px;
        width: 280px;
        height: 190px;
      }
      h1 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 5px;
        color: #484d50e6;
        height: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        direction: ltr;
      }
    }
  }
}
