.container {
  display: none;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
  }
}

@media (max-width: 450px) {
  .container {
    display: flex;
    button {
      margin-top: 20px;
      margin-right: 10px;
      font-size: 1.5rem;
      color: white;
    }
  }
}
