.container {
  width: 100%;
  height: 100%;
}

.containerContent {
  max-width: 1120px;
  height: 100%;
  margin: auto;
  display: flex;

  flex-direction: column;

  .btn {
    .btnBack {
      border: none;
      background-color: transparent;
      margin-left: 8px;
      svg {
        font-size: 1.8rem;
        color: rgba(18, 18, 18, 0.902);
      }
    }
  }
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .description2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 850px;
    margin-bottom: 10px;
    color: #111111e6;
    p {
      font-size: 1.2rem;
    }
    .img2 {
      width: 32rem;
      height: 20rem;
      border-radius: 5px;
    }
  }
  .titulo {
    display: flex;

    img {
      width: 32rem;
      height: 20rem;
      border-radius: 5px;
    }

    .blocoTexto {
      h1 {
        width: 20rem;
        font-size: 2rem;
        margin-left: 10px;
        color: #111111e6;
      }
      .bloco {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 0.7rem;
          margin-left: 10px;
          color: #5a5959e2;
        }
        a {
          display: flex;
          width: 100px;
          .fonte {
            width: 150px;

            color: rgba(12, 37, 224, 0.712);
          }
        }
      }
    }
  }
}

.description {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  max-width: 850px;
  margin-bottom: 10px;
  color: #111111e6;
  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 780px) {
  .conteudo {
    .description2 {
      .img2 {
        border-radius: 3px;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .blocoTexto {
        text-align: center;
        width: 100%;

        h1 {
          margin: auto;

          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .conteudo {
    .description2 {
      .img2 {
        width: 28rem;
        height: 20rem;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img {
        width: 28rem;
        height: 20rem;
      }
      .blocoTexto {
        text-align: center;
        width: 100%;
        margin: auto;
        h1 {
          margin: auto;

          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .conteudo {
    .description2 {
      .img2 {
        width: 27rem;
        height: 17rem;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img {
        width: 27rem;
        height: 17rem;
      }
      .blocoTexto {
        text-align: center;
        width: 100%;
        margin: auto;
        h1 {
          text-align: center;
          width: 270px;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .conteudo {
    .description2 {
      .img2 {
        width: 25rem;
        height: 17rem;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img {
        width: 25rem;
        height: 17rem;
      }
      .blocoTexto {
        text-align: center;
        width: 100%;
        margin: auto;
        h1 {
          margin: auto;

          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .conteudo {
    .description2 {
      .img2 {
        width: 25rem;
        height: 17rem;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img {
        width: 22rem;
        height: 14rem;
      }
      .blocoTexto {
        text-align: center;
        width: 100%;
        margin: auto;
        h1 {
          margin: auto;

          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .conteudo {
    .description2 {
      .img2 {
        width: 20rem;
        height: 12rem;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img {
        width: 20rem;
        height: 12rem;
      }
      .blocoTexto {
        text-align: center;
        width: 100%;
        margin: auto;
        h1 {
          margin: auto;

          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 300px) {
  .conteudo {
    .description2 {
      margin: auto;
      .img2 {
        width: 20rem;
        height: 12rem;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img {
        width: 20rem;
        height: 12rem;
      }
      .blocoTexto {
        text-align: center;
        width: 100%;
        margin: auto;
        h1 {
          margin: auto;

          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 288px) {
  .conteudo {
    .description2 {
      .img2 {
        width: 20rem;
        height: 12rem;
      }
    }
    .titulo {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      img {
        width: 20rem;
        height: 12rem;
      }
      .blocoTexto {
        text-align: center;
        width: 100%;
        margin: auto;
        h1 {
          margin: auto;

          text-align: center;
        }
      }
    }
  }
}
